body {
  background-color: #0c101a; /* Dark background */
  color: #ffffff; /* White text */
}

.container {
  border: 2px solid #1c2738; /* Border color */
  border-radius: 20px; /* Rounded corners */
  padding: 20px;
}

.pokemon {
  background-image: url('https://in.portal-pokemon.com/play/resources/pokedex/img/list_pokemon_bg.png'); /* Set background image */
  background-size: contain; /* Ensure entire image is displayed */
  background-repeat: no-repeat; /* No repeating of background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
}

.pokemon img {
  width: 325px; /* Set width of Pokémon image */
  display: block; /* Ensure image is centered */
  margin: 0 auto; /* Center image horizontally */
}

.pokemon-content {
  padding: 20px;
  margin-top: 100px; /* Set margin-top for Pokémon details */
}

.pokemon h2 {
  font-size: 1.5rem; /* Increase font size */
  margin-top: 10px; /* Add margin to top */
}

.pokemon p {
  font-size: 1rem; /* Adjust font size */
  margin: 5px 0; /* Add small margin */
}

.bg-blue-500 {
  background-color: #19b0ff; /* Adjust blue color */
}

#loadMoreBtn {
  background-color: #19b0ff; /* Adjust button color */
  border: none; /* Remove border */
}